<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input is-primary" (input)="onChangeLength($event)" placeholder="Please insert a number" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseCapitalLetters()" type="checkbox" />
            Use Capital Letters
          </label>
        </div>
      </div>

      <button [disabled]="
          !(length && (includeLetters || includeSymbols || includeNumbers || includeCapitalLetters))
        " (click)="onButtonClick()" class="button is-link is-fullwidth"> <!-- event binding syntax (i want to watch this method)-->
        Generate!
      </button>

      <div class="box" *ngIf="password"> <!-- structural directives (adds or removes html elements)-->
        <!-- basically goes into the component class and looks for the mentioned attribute, if is truthy or falsy -->
        <label>Your Password</label> 
        <input class="input" [value]="password" /> <!-- property binding syntax [name of the property to be set]="name of the property/method in our class" -->
      </div>
    </div>
  </div>
</div>