<div class="container">

  <div class="columns is-centered">
    <div class="box column is-one-third">

      <div>
        <h1 class="title has-text-centered">Typing Challenge</h1>
      </div>

      <div>
        <p class="has-text-centered"> 
          <span [class]="compare(letter,  enteredText[i])" *ngFor="let letter of randomText.split(''); let i = index;">{{ letter }}</span>
        </p>
      </div>

      <div class="field">
        <input #userInput class="input" placeholder="Write here!" (input)="onInput(userInput.value)" />
      </div>

      <div *ngIf="timeLeft > 0; else templateMessage">
        <h3 id="">{{ timeLeft }}</h3>
      </div>

      <div>
        <ng-template #templateMessage> 
          <h3>{{ message }}</h3>
        </ng-template>
      </div>

      <div *ngIf="randomText === enteredText" class="box has-text-centered">
        <h1 class="title">You win!</h1>
      </div>

    </div>
  </div>

</div>